absl-py
accelerate
action-msgs
action-tutorials-interfaces
action-tutorials-py
actionlib-msgs
addict
aiohttp
aiosignal
aiostream
ament-cmake-test
ament-copyright
ament-cppcheck
ament-cpplint
ament-flake8
ament-index-python
ament-lint
ament-lint-cmake
ament-package
ament-pep257
ament-uncrustify
ament-xmllint
angles
annotated-types
anyio
asttokens
async-timeout
attrs
beautifulsoup4
blinker
builtin-interfaces
certifi
cffi
charset-normalizer
click
coloredlogs
comm
composition-interfaces
ConfigArgParse
contourpy
convert
cryptography
cv-bridge
cvxopt
cycler
Cython
dash
dash-core-components
dash-html-components
dash-table
dataclasses-json
datasets
debugpy
decorator
demo-nodes-py
diagnostic-msgs
dill
dnspython
docker-pycreds
domain-coordinator
email_validator
example-interfaces
examples-rclpy-executors
examples-rclpy-minimal-action-client
examples-rclpy-minimal-action-server
examples-rclpy-minimal-client
examples-rclpy-minimal-publisher
examples-rclpy-minimal-service
examples-rclpy-minimal-subscriber
exceptiongroup
executing
fastapi-cli
fastjsonschema
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
gdown
geometry-msgs
gitdb
GitPython
greenlet
grpcio
grpclib
h11
h2
hpack
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hyperframe
idna
image-geometry
imageio
importlib_metadata
interactive-markers
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
laser-geometry
launch
launch-ros
launch-testing
launch-testing-ros
launch-xml
launch-yaml
lazy_loader
lifecycle-msgs
lightning-utilities
logging-demo
map-msgs
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mav-manager-srv
# Editable install with no version control (mav-manager-test
-e /home/raghuram/arpl_ws/build/mav_manager_test
mdurl
message-filters
modal
mpmath
multidict
multiprocess
mypy-extensions
natsort
nav-msgs
nbformat
nest-asyncio
networkx
nltk
ntplib
numpy
nvidia-cublas-cu11
nvidia-cublas-cu12
nvidia-cuda-cupti-cu11
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu11
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu11
nvidia-cudnn-cu12
nvidia-cufft-cu11
nvidia-cufft-cu12
nvidia-curand-cu11
nvidia-curand-cu12
nvidia-cusolver-cu11
nvidia-cusolver-cu12
nvidia-cusparse-cu11
nvidia-cusparse-cu12
nvidia-nccl-cu11
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu11
nvidia-nvtx-cu12
onnxruntime
open3d
openai
opencv-python
orjson
osrf-pycommon
packaging
pandas
parso
pcl-msgs
pendulum-msgs
pexpect
pillow
platformdirs
plotly
prompt-toolkit
protobuf
ptyprocess
pure-eval
px4-msgs
pyarrow
pyarrow-hotfix
pybase64
pybullet @ file:///home/conda/feedstock_root/build_artifacts/bullet_1683005870986/work
pycparser
pydantic
pydantic_core
pygame
Pygments
pyparsing
pyquaternion
pysbd
PySocks
python-dateutil
python-dotenv
python-qt-binding
pytorch-lightning
pytz
PyYAML
pyzmq
qpsolvers
qt-dotgraph
qt-gui
qt-gui-cpp
qt-gui-py-common
quadrotor-msgs
quality-of-service-demo-py
ragas
rcl-interfaces
rclpy
rcutils
referencing
regex
requests
rerun-sdk
resource-retriever
retrying
rich
rmw-dds-common
ros2action
ros2bag
ros2cli
ros2component
ros2doctor
ros2interface
ros2launch
ros2lifecycle
ros2multicast
ros2node
ros2param
ros2pkg
ros2run
ros2service
ros2topic
rosbag2-interfaces
rosbag2-py
rosbags
rosgraph-msgs
rosidl-adapter
rosidl-cli
rosidl-cmake
rosidl-generator-c
rosidl-generator-cpp
rosidl-generator-py
rosidl-parser
rosidl-runtime-py
rosidl-typesupport-c
rosidl-typesupport-cpp
rosidl-typesupport-fastrtps-c
rosidl-typesupport-fastrtps-cpp
rosidl-typesupport-introspection-c
rosidl-typesupport-introspection-cpp
rouge-score
rpds-py
rpyutils
rqt-action
rqt-bag
rqt-bag-plugins
rqt-console
rqt-graph
rqt-gui
rqt-gui-py
rqt-msg
rqt-plot
rqt-publisher
rqt-py-common
rqt-py-console
rqt-reconfigure
rqt-service-caller
rqt-shell
rqt-srv
rqt-topic
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-image
scikit-learn
scipy
sensor-msgs
sensor-msgs-py
sentry-sdk
setproctitle
shape-msgs
shellingham
sigtools
six
slackclient
smmap
sniffio
soupsieve
SQLAlchemy
sros2
stack-data
statistics-msgs
std-msgs
std-srvs
stereo-msgs
sympy
synchronicity
teleop-twist-keyboard
tenacity
tensorboard
tensorboard-data-server
tf2-geometry-msgs
tf2-kdl
tf2-msgs
tf2-py
tf2-ros-py
tf2-tools
threadpoolctl
tifffile
tiktoken
tokenizers
topic-monitor
torch
torchmetrics
tornado
tqdm
trackers-msgs
traitlets
trajectory-msgs
transformations
transformers
triton
turtlesim
typer
types-certifi
types-toml
typing-inspect
typing_extensions
tzdata
ujson
unique-identifier-msgs
urllib3
uvicorn
uvloop
vis_nav_game
visualization-msgs
wandb
watchfiles
wcwidth
websockets
Werkzeug
widgetsnbextension
xxhash
yarl
zipp
zstandard
